<br>
<span class="error">{{errorMsg}}</span>
<br>
<br>
<input #searchTerm>
<button (click)="performSearch(searchTerm.value)" [disabled]="!controlsEnabled">Search</button><br>
<br>
    Current Search Mask: {{searchMask}}
<br>
<br>
<input #customerName><button (click)="addOrder(customerName.value)" [disabled]="!controlsEnabled">Add Order</button><br>

<br>
<br>
<br>
<table class="orderTable">
    <tr><td>Id</td><td>Customer Name</td><td>Total Price</td></tr>
    <tr *ngFor="let order of orders" [class.selected]="order.id === currentOrderId" class="orderRow">
        <td class="idCell">{{ order.id }}</td>
        <td class="nameCell">{{ order.customerName }}</td>
        <td class="totalPriceCell">{{ order.totalPrice }}</td>
        <td> <button class="editOrderButton" (click)="editOrder(order.id)" [disabled]="!controlsEnabled">Edit</button> </td>
        <td> <button class="deleteOrderButton" (click)="deleteOrder(order.id)" [disabled]="!controlsEnabled">Delete</button> </td>
    </tr>
</table>

<div *ngIf="currentOrderId >= 0">
    <table class ="orderLineTable">
        <tr><td>Product</td><td>Price</td><td>Quantity</td><td>Total Price</td></tr>
        <tr *ngFor="let orderLine of orderLines" class="orderLineRow">
            <td class ="orderLineProductCell">{{ orderLine.productName }}</td>
            <td class="orderLinePriceCell">{{ orderLine.productPrice }}</td>
            <td class="orderLineQuantityCell">{{ orderLine.quantity }}</td>
            <td class="orderLineTotalPrice">{{ orderLine.quantity * orderLine.productPrice }}</td>
            <td> <button class="deleteOrderLineButton" (click)="deleteOrderLine(orderLine.id)" [disabled]="!controlsEnabled">Delete</button> </td>
        </tr>
    </table>

    <button class="addOrderLineButton" (click)="addOrderLine(product.value*1, productQuantity.value*1)" [disabled]="!controlsEnabled">Add Product</button><br>
    <select #product class="productList">
        <option class="productOption" *ngFor="let product of products" value="{{product.id}}"> 
            {{product.name}} - {{product.price}}
        </option>
    </select>
    <label>Count</label>
    <input class="quantityInput" type ="number" #productQuantity value="1">
</div>