<input #searchTerm>
<button (click)="performSearch(searchTerm.value)">Search</button>

<table>
    <tr><td>Id</td><td>Customer Name</td><td>Total Price</td></tr>
    <tr *ngFor="let order of orders">
            <td>{{ order.id }}</td>
            <td>{{ order.customerName }}</td>
            <td>{{ order.totalPrice }}</td>
            <td> <button (click)="editOrder(order.id)">Edit</button> </td>
    </tr>
</table>


<table>
        <tr><td>Product</td><td>Price</td><td>Quantity</td><td>Total Price</td></tr>
        <tr *ngFor="let orderLine of orderLines">
                <td>{{ orderLine.productName }}</td>
                <td>{{ orderLine.price }}</td>
                <td>{{ orderLine.quantity }}</td>
                <td>{{ orderLine.quantity * orderLine.price }}</td>
                <td> <button (click)="editOrder(order.id)">Edit</button> </td>
        </tr>
    </table>



